deep/*
*ipynb
*zip
assign1/submission/*
project/*
lime_project/*
outputConGANs/*
assign2/data/*
assign2/MNIST_data/*
assign2/C:/
assign4/MNIST_data/*
assign3/MNIST_data/*
assign3/report/*
assign4/report/*
assign3/C:/
progress\ report/*
assign3/submission/*